html,body {
  height: 100%;
}

body {
  background: #000000;
  background-image: linear-gradient(#000, #555);
  background-size: 100%;
}

p {
  margin: 0;
  padding: 0;
}

#clock {
  font-family:'Orbitron';
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #daf6ff;
  text-shadow: 0 0 20px #5cd4d4;
}

.hour {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 10px 0;
}

.date {
  letter-spacing: 0.3em;
  font-size: 24px;
}

.text {
  letter-spacing: 0.1em;
  font-size: 12px;
  padding: 20px 0 0;
}